#map {
    height: 100%;
  }
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
h1 {
	font-family: "Times New Roman", Georgia, Serif;
}

body{
	background-color: beige;
}
.login {
	font-weight: bold;
}
.distance{
	font-weight: bold;
	color: darkblue;
}

